@import "tailwindcss";

* {
  outline: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

:is(input, textarea) {
  @apply ring-accent-black/70 ring-offset-1 focus-visible:ring-2;
}

@theme {
  --color-accent: hsl(245, 81%, 57%);
  --color-accent-black: rgb(16, 25, 45);
  --color-accent-red: rgb(239, 67, 67);
  --color-accent-black-200: rgb(29, 33, 48);
  --color-background: rgb(248, 249, 252);
  --color-foreground: #020817;
  /* --color-background-200: rgb(243, 245, 252); */
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
